@media screen and (min-width: 320px) and (orientation: portrait) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 410px) and (orientation: portrait) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 520px) and (orientation: portrait) {
  html {
    font-size: 62.5%;
  }
}


$w: 640;

@mixin height($height) {
  height: 1rem * $height * 320 / $w / 10;
}

@mixin width($width) {
  width: 1rem * $width * 320 / $w / 10;
}

@mixin font-size($font-size) {
  font-size: 1rem * $font-size * 320 / $w / 10;
}

@mixin line-height($line-height) {
  line-height: 1rem * $line-height * 320 / $w / 10;
}

@mixin border-radius($border-radius) {
  border-radius: 1rem * $border-radius * 320 / $w / 10;
}

@mixin padding-top($top) {
  padding-top: 1rem * $top * 320 / $w / 10;
}

@mixin padding-right($right) {
  padding-right: 1rem * $right * 320 / $w / 10;
}

@mixin padding-bottom($bottom) {
  padding-bottom: 1rem * $bottom * 320 / $w / 10;
}

@mixin padding-left($left) {
  padding-left: 1rem * $left * 320 / $w / 10;
}

@mixin padding($top, $right, $bottom, $left) {
  @include padding-top($top);
  @include padding-right($right);
  @include padding-bottom($bottom);
  @include padding-left($left);
}

@mixin margin-top($top) {
  margin-top: 1rem * $top * 320 / $w / 10;
}

@mixin margin-right($right) {
  margin-right: 1rem * $right * 320 / $w / 10;
}

@mixin margin-bottom($bottom) {
  margin-bottom: 1rem * $bottom * 320 / $w / 10;
}

@mixin margin-left($left) {
  margin-left: 1rem * $left * 320 / $w / 10;
}

@mixin margin($top, $right, $bottom, $left) {
  @include margin-top($top);
  @include margin-right($right);
  @include margin-bottom($bottom);
  @include margin-left($left);
}

@mixin top($top) {
  top: 1rem * $top * 320 / $w / 10;
}

@mixin bottom($bottom) {
  bottom: 1rem * $bottom * 320 / $w / 10;
}

@mixin left($left) {
  left: 1rem * $left * 320 / $w / 10;
}

@mixin right($right) {
  right: 1rem * $right * 320 / $w / 10;
}
